<style>
  .social-icon:hover {
    color: #acc90f !important;
  }
</style>

<footer id="footer" class="footer--style-1" style="background-color: #333">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-auto">
        <div class="footer__item">
          <a class="site-logo" href="index.html">
            <img
              class="img-fluid lazy"
              src="{{ asset('frontoffice/img/blank.gif') }}"
              data-src="{{ asset('frontoffice/img/logo_scoops_feraga.png') }}"
              alt="demo"
            />
          </a>
        </div>
      </div>

      <div class="col-12 col-sm">
        <div class="row align-items-md-center no-gutters">
          <div class="col-12 col-md">
            <div class="footer__item">
              <address>
                <p>523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA</p>

                <p>
                  +1 (234) 56789, +1 987 654 3210 <br />
                  <a href="mailto:contact@scoopsferaga.com"
                    >contact@scoopsferaga.com</a
                  >
                </p>
              </address>
            </div>
          </div>

          <div class="col-12 col-md-auto">
            <div class="footer__item">
              <div class="social-btns">
                <a href="#"><i class="fontello-twitter social-icon"></i></a>
                <a href="#"><i class="fontello-facebook social-icon"></i></a>
                <a href="#"
                  ><i class="fontello-linkedin-squared social-icon"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5 col-xl-4 offset-xl-1">
        <div class="footer__item">
          <h5 class="h6">Get a newslatter</h5>

          <form class="form--horizontal" action="#">
            <div class="input-wrp">
              <input
                class="textfield"
                name="s"
                type="text"
                placeholder="Your E-mail"
              />
            </div>

            <button
              class="custom-btn custom-btn--medium custom-btn--style-1"
              type="submit"
              role="button"
            >
              subscribe
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row flex-lg-row-reverse">
      <div class="col-12 col-lg-6">
        <div class="footer__item">
          <nav id="footer__navigation" class="navigation text-lg-right">
            <ul>
              <li class="active">
                <a href="{{ path('app_home') }}">Accueil</a>
              </li>
              <li><a href="{{ path('app_about') }}">scoops feraga</a></li>
              <li><a href="{{ path('app_shop') }}">boutique</a></li>
              <li><a href="{{ path('app_blog') }}">nos actualité</a></li>
              <li><a href="{{ path('app_private_policy') }}">cgv</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="footer__item">
          <span class="__copy"
            >©
            <script>
              document.write(new Date().getFullYear());
            </script>
            Scoops Feraga. All rights reserved. Created by
            <a class="__dev" href="https://logonedigital.com/" target="_blank"
              >logonedigital</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
