
<style>
    .nav-btn{
        background-color: #3daa35!important; 
        border-color: #3daa35;
        color:white!important
    }
    .nav-btn:hover{
        background-color: transparent!important;
        color:#555!important;
    }
    .total{
        background-color: #3daa35!important;
        
        color: white;
    }
</style>

<header id="top-bar" class="top-bar top-bar--style-2">
        <div
          class="top-bar__bg"
          style="
            background-color: #fff;
            background-image: url(img/top_bar_bg-2.png);
            background-repeat: no-repeat;
            background-position: center bottom;
          "
        ></div>
        <div class="container position-relative">
          <div class="row justify-content-between no-gutters">
            <a class="top-bar__logo site-logo" href="{{path('app_home')}}">
              <img class="img-fluid" src="{{asset('frontoffice/')}}img/Fav-logo-noir.png" alt="logo scoops feraga" />
            </a>

            <a
              id="top-bar__navigation-toggler"
              class="top-bar__navigation-toggler top-bar__navigation-toggler--dark"
              href="javascript:void(0);"
              ><span></span
            ></a>

            <div id="top-bar__inner" class="top-bar__inner text-lg-right">
              <div>
                <div
                  class="d-lg-flex flex-lg-column-reverse align-items-lg-end"
                >
                  <nav
                    id="top-bar__navigation"
                    class="top-bar__navigation navigation"
                    role="navigation"
                  >
                    <ul>
                      <li >
                        <a href="{{path('app_home')}}">Accueil</a>
                      </li>

                      <li>
                        <a href="{{path('app_activities')}}">Vie à la ferme</a>
                      </li>
                        <li class="active"><a href="{{path('app_shop')}}">Boutique</a></li>

                      <ul class="submenu">
                        {% for category in ProductCategories.getProductCategories %}
                          <li><a href="{{path('app_shop')}}">{{ category.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>


                      <li>
                        <a href="{{path('app_blog')}}">Nos Actualités</a>
                      </li>

                      {% if app.user %}
                      <li class="li-profile">
                        <a href="{{ path('app_user_account') }}"
                          ><i class="fontello-profile"></i
                        ></a>
                      </li>
                      {% else %}
                        <li class="li-profile">
                        <a href="{{ path('app_login') }}"
                          ><i class="fontello-profile"></i
                        ></a>
                      </li>
                      {% endif %}

                      <li class="li-cart">
                        <a href="{{path('app_cart')}}" 
                          ><i class="fontello-shopping-bag"></i
                          ><span class="total">{{ app.session.get('cart') | length }}</span></a
                        >
                      </li>

                      <li class="li-btn">
                        <a
                          class="custom-btn custom-btn--small custom-btn--style-2 nav-btn"
                          href="{{path('app_contact')}}"
                          >Contactez-nous</a
                        >
                      </li>
                    </ul>
                  </nav>

                  <div class="top-bar__contacts">
                    <span
                      >523 Sylvan Ave, 5th Floor Mountain View, CA 940 USA</span
                    >
                    <span
                      ><a href="#">+1 (234) 56789</a>,&nbsp;&nbsp;<a href="#"
                        >+1 987 654 3210</a
                      ></span
                    >
                    <span
                      ><a href="mailto:support@agrocompany.com"
                        >support@agrocompany.com</a
                      ></span
                    >

                    <div class="social-btns">
                      <a class="fontello-twitter" href="#"></a>
                      <a class="fontello-facebook" href="#"></a>
                      <a class="fontello-linkedin-squared" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</header>