<style>
  .header-link{
    color: #333!important;
  }
 @media screen and (min-width: 907px) {
  .header-link{
    color: white;
  }
 }
 @media screen and (max-width: 765px) {
      header{
        margin-bottom: 200px;
      }
}
</style>


<header id="top-bar" class="top-bar top-bar--style-1">
        <div
          class="top-bar__bg"
          style="
            background-color: #f9f9f9;
            background-image: url({{ asset('frontoffcie/') }}img/top_bar_bg-1.jpg);
            background-repeat: no-repeat;
            background-position: left bottom;
          "
        ></div>

        <div class="container-fluid">
          <div
            class="row align-items-center justify-content-between no-gutters"
          >
            <a class="top-bar__logo site-logo" href="{{path('app_home')}}">
              <img class="img-fluid" src="{{ asset('frontoffice/img/Fav-logo-noir.png') }}" alt="logo scoops feraga" />
            </a>

            <a
              id="top-bar__navigation-toggler"
              class="top-bar__navigation-toggler top-bar__navigation-toggler--dark"
              href="javascript:void(0);"
              ><span></span
            ></a>

            <div id="top-bar__inner" class="top-bar__inner">
              <div>
                <nav
                  id="top-bar__navigation"
                  class="top-bar__navigation navigation"
                  role="navigation"
                >
                  <ul>
                    <li>
                      <a class="header-link" href="{{path('app_home')}}">Accueil</a>
                    </li>
                    <li>
                      <a class="header-link" href="{{path('app_about')}}">scoops feraga</a>
                    </li>
                    <li>
                      <a class="header-link" href="{{path('app_activities')}}">Vie à la ferme</a>
                    </li>

                    <li class="has-submenu">
                      <a class="header-link" href="{{path('app_shop')}}">Boutique</a>

                      <ul class="submenu">
                        {% for category in ProductCategories.getProductCategories %}
                          <li><a href="{{path('app_shop')}}">{{ category.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>+

                    <li>
                      <a class="header-link" href="{{path('app_blog')}}">Nos Actualités</a>
                    </li>

                    {% if not app.user %}
                    <li>
                      <a class="header-link" href="{{path("app_login")}}"><i class="fas fa-user"></i> Mon compte</a>
                    </li>
                    {% else %}
                    <li>
                      <a class="header-link" href="{{path("app_user_account")}}"><i class="fas fa-user"></i> Mon compte</a>
                    </li>
                    {% endif %}
                    <style>
                    
                    </style>
                    <li class="li-btn">
                      <a 
                        class="custom-btn custom-btn--small custom-btn--style-3 text-color"
                        style="color: #333;"
                        href="{{ path('app_contact') }}"
                        >Contacts</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>