{% extends 'base_frontoffice.html.twig'%} {% block header %} {%
include('includes/frontoffice/header.html.twig')%} {% endblock header %} {%
block content %}
<!-- start hero -->
<div
  id="hero"
  class="jarallax"
  data-speed="0.7"
  data-img-position="50% 80%"
  style="background-image: url({{
    asset('frontoffice/')
  }}img/poule-couvrant-oeufs.jpg);color: #333;"
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7"></div>
    </div>
  </div>
</div>
<!-- end hero -->
<!-- start main -->
<main role="main">
  <!-- Common styles
                  ================================================== -->
  <link
    rel="stylesheet"
    href="{{ asset('frontoffice/') }}css/style.min.css"
    type="text/css"
  />

  <!-- Load lazyLoad scripts
                  ================================================== -->

  <!-- start section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- start checkout -->
          <div class="checkout">
            <h2>ADRESSES <span>DETAILS</span></h2>

            <div class="spacer py-3"></div>

            {{ form_start(form) }}
            <div class="row justify-content-xl-between">
              <div class="col-12 col-md-5 col-lg-6">
                <div><h6>Personal Information</h6></div>

                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-wrp">
                      {{
                                                form_row(form.firstname, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-wrp">
                      {{
                                                form_row(form.lastname, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-wrp">
                      {{
                                                form_row(form.company, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-wrp">
                      {{
                                                form_row(form.phone, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-wrp">
                      <input
                        class="textfield"
                        placeholder="Email address (facultatif)"
                        type="text"
                      />
                    </div>
                  </div>
                </div>

                <div class="spacer py-6"></div>

                <div><h6>Adresse</h6></div>

                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="input-wrp">
                      {{
                                                form_row(form.name, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-wrp">
                      {{
                                                form_row(form.country, {
                                                    attr: {
                                                        class: "textfield wide js-select",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="input-wrp">
                      {{
                                                form_row(form.city, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-wrp">
                      {{
                                                form_row(form.postal, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                    <div class="input-wrp">
                      {{
                                                form_row(form.address, {
                                                    attr: {
                                                        class: "textfield",
                                                    }
                                                })
                      }}
                    </div>
                  </div>
                  <button
                          class="custom-btn custom-btn--medium custom-btn--style-1 wide"
                          type="submit"
                          value="submit"
                          role="button"
                  >
                    Valider
                  </button>
                </div>
                {{ form_end(form) }}
                <script src="https://www.google.com/recaptcha/api.js?render=6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe"></script>
                <script>
                  grecaptcha.ready(function () {
                    grecaptcha
                            .execute("6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe", {
                              action: "submit",
                            })
                            .then(function (token) {
                              document.getElementById("address_livraison_captcha").value = token;
                            });
                  });
                </script>
                <div class="spacer py-6 d-md-none"></div>
              </div>
            </div>
          </div>
          <!-- end checkout -->
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</main>
<!-- end main -->
{% endblock content %} {% block footer %} {%
include('includes/frontoffice/footer.html.twig')%} {% endblock footer %}
