{% extends "base_frontoffice_2.html.twig" %} {% block title %} Compte | Scoops
  Feraga {% endblock %} {% block stylesheet %}
  <link
          rel="stylesheet"
          href="{{ asset('frontoffice/') }}css/style.min.css"
          type="text/css"
  />
  <link
          rel="stylesheet"
          href="{{ asset('frontoffice/') }}css/account_style.css"
          type="text/css"
  />
{% endblock %} {% block body %} {% block bodyclass %} woocommerce-page auth-page
{% endblock %}
  <div id="app">
    <!-- start header -->
    {% include('includes/frontoffice/header_account.html.twig')%}
    <main role="main">
      <!-- Common styles ================================================== -->

      <!-- Load lazyLoad scripts ================================================== -->
      <script>
        (function (w, d) {
          var m = d.getElementsByTagName("main")[0],
                  s = d.createElement("script"),
                  v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
                  o = {
                    elements_selector: ".lazy",
                    data_src: "src",
                    data_srcset: "srcset",
                    threshold: 500,
                    callback_enter: function (element) {},
                    callback_load: function (element) {
                      element.removeAttribute("data-src");

                      oTimeout = setTimeout(function () {
                        clearTimeout(oTimeout);

                        AOS.refresh();
                      }, 1000);
                    },
                    callback_set: function (element) {},
                    callback_error: function (element) {
                      element.src =
                              "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
                    },
                  };
          s.type = "text/javascript";
          s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
          s.src =
                  "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
                  v +
                  "/dist/lazyload.min.js";
          m.appendChild(s);
          // m.insertBefore(s, m.firstChild);
          w.lazyLoadOptions = o;
        })(window, document);
      </script>

      <!-- start section -->
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- start checkout -->
              <div class="checkout">
                <h2>ADRESSES <span>DETAILS</span></h2>

                <div class="spacer py-3"></div>

                {{ form_start(form) }}
                <div class="row justify-content-xl-between">
                  <div class="col-12 col-md-5 col-lg-6">
                    <div><h6>Personal Information</h6></div>

                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                        <div class="input-wrp">
                          {{
                          form_row(form.firstname, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>

                      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                        <div class="input-wrp">
                          {{
                          form_row(form.lastname, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="input-wrp">
                          {{
                          form_row(form.company, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>

                      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                        <div class="input-wrp">
                          {{
                          form_row(form.phone, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>

                    </div>

                    <div class="spacer py-6"></div>

                    <div><h6>Adresse</h6></div>

                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-wrp">
                          {{
                          form_row(form.name, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>

                      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                        <div class="input-wrp">
                          {{
                          form_row(form.country, {
                            attr: {
                              class: "textfield wide js-select",
                            }
                          })
                          }}
                        </div>
                      </div>

                      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                        <div class="input-wrp">
                          {{
                          form_row(form.city, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="input-wrp">
                          {{
                          form_row(form.postal, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                        <div class="input-wrp">
                          {{
                          form_row(form.address, {
                            attr: {
                              class: "textfield",
                            }
                          })
                          }}
                        </div>
                      </div>
                      <button
                              class="custom-btn custom-btn--medium custom-btn--style-1 wide"
                              type="submit"
                              value="submit"
                              role="button"
                      >
                        Valider
                      </button>
                    </div>
                    {{ form_end(form) }}
                    <script src="https://www.google.com/recaptcha/api.js?render=6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe"></script>
                    <script>
                      grecaptcha.ready(function () {
                        grecaptcha
                                .execute("6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe", {
                                  action: "submit",
                                })
                                .then(function (token) {
                                  document.getElementById("address_livraison_captcha").value = token;
                                });
                      });
                    </script>
                    <div class="spacer py-6 d-md-none"></div>
                  </div>
                </div>
              </div>
              <!-- end checkout -->
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
    </main>
    <!-- end main -->

    <!-- start footer -->
    {% include('includes/frontoffice/footer_2.html.twig')%}
    <!-- end footer -->
  </div>

  <div id="btn-to-top-wrap">
    <a
            id="btn-to-top"
            class="circled"
            href="javascript:void(0);"
            data-visible-offset="800"
    ></a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="{{asset('frontoffice/')}}js/jquery-2.2.4.min.js"><\/script>')
  </script>
  <script
          type="text/javascript"
          src="{{ asset('frontoffice/') }}js/main.min.js"
  ></script>
{% endblock %}
