{% extends "base_frontoffice_2.html.twig" %} {% block title %} Compte | Scoops
    Feraga {% endblock %} {% block stylesheet %}
    <link
            rel="stylesheet"
            href="{{ asset('frontoffice/') }}css/style.min.css"
            type="text/css"
    />
    <link
            rel="stylesheet"
            href="{{ asset('frontoffice/') }}css/account_style.css"
            type="text/css"
    />
{% endblock %} {% block body %} {% block bodyclass %} woocommerce-page auth-page
{% endblock %}
    <div id="app">
        <!-- start header -->
        {% include('includes/frontoffice/header_account.html.twig')%}
        <main role="main">
            <!-- Common styles ================================================== -->

            <!-- Load lazyLoad scripts ================================================== -->
            <script>
                (function (w, d) {
                    var m = d.getElementsByTagName("main")[0],
                        s = d.createElement("script"),
                        v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
                        o = {
                            elements_selector: ".lazy",
                            data_src: "src",
                            data_srcset: "srcset",
                            threshold: 500,
                            callback_enter: function (element) {},
                            callback_load: function (element) {
                                element.removeAttribute("data-src");

                                oTimeout = setTimeout(function () {
                                    clearTimeout(oTimeout);

                                    AOS.refresh();
                                }, 1000);
                            },
                            callback_set: function (element) {},
                            callback_error: function (element) {
                                element.src =
                                    "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
                            },
                        };
                    s.type = "text/javascript";
                    s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
                    s.src =
                        "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
                        v +
                        "/dist/lazyload.min.js";
                    m.appendChild(s);
                    // m.insertBefore(s, m.firstChild);
                    w.lazyLoadOptions = o;
                })(window, document);
            </script>

            <!-- start section -->
            <section class="section">
                <div class="container">

                    <div  class="row back_button">
                        <a style="color: #3daa35" href="{{app.request.headers.get('referer')}}"><i class="fas fa-arrow-left" style="font-size: 25px;"></i>&nbsp;&nbsp; Retour</a>
                    </div>
                        <h2 style="color: #3daa35">
                            Vos <span style="color: #333">adresses</span>
                        </h2>
                    {% if app.user.addressLivraisons | length ==0 %}

                        <h3> Vous n'avez pas encore ajouté d'adresse dans votre compte client.<br><br>
                            <a class="custom-btn custom-btn--tiny custom-btn--style-1" href="{{ path('app_account_address_add') }}">Ajouter</a>
                        </h3>

                    {% else %}
                        <div class="row">
                            {% for address in app.user.addressLivraisons %}
                                <div class="lazy col-12 col-sm-6 col-lg-4">
                                <div class="box-part text-center">
                                    <div class="adresse-card">
                                        <h5 class="addresse-title">{{ address.name }}</h5>
                                        <p class="addresse-text">
                                            {{ address.address }},<br/>
                                            {{ address.postal }} - {{ address.city }} - {{ address.country }}
                                        </p>
                                        <a href="{{ path('app_account_address_edit', {'id':address.id}) }}" style="color: #acc90f" >Modifier</a> |
                                        <a href="{{ path('app_account_address_delete',{'id':address.id}) }}" style="color: red" >Supprimer</a>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </section>
            <!-- end section -->
        </main>
        <!-- end main -->

        <!-- start footer -->
        {% include('includes/frontoffice/footer_shop.html.twig')%}
        <!-- end footer -->
    </div>

    <div id="btn-to-top-wrap">
        <a
                id="btn-to-top"
                class="circled"
                href="javascript:void(0);"
                data-visible-offset="800"
        ></a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{asset('frontoffice/')}}js/jquery-2.2.4.min.js"><\/script>')
    </script>
    <script
            type="text/javascript"
            src="{{ asset('frontoffice/') }}js/main.min.js"
    ></script>
{% endblock %}
