{% extends "base_form.html.twig" %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
      {% form_theme form 'bootstrap_4_layout.html.twig' %}
      {{form_start(form, { attr:{class:'custom-form'}})}}
      <div class="row back_button">
        <a href=" {{ path('app_user_account') }} "
          ><i class="fas fa-arrow-left" style="font-size: 25px"></i>
        </a>
      </div>
      <div class="row justify-content-center">
        <a
          href="{{ path('app_home') }}"
          class="home-logo-link"
          style="text-align: center"
        >
          <img
            class="form-logo"
            src="{{ asset('frontOffice/img/') }}Fav-logo-noir.png"
            alt=""
          />
        </a>
      </div>

      <div class="row">
        <h4>changer de mot de passe</h4>
      </div>
      <div class="mb-3">
        {{
            form_row(form.email, {
            label: false,
            attr: {
                placeholder: "Email",
                class: "form-control",                          
            }
            })
        }}
      </div>
      <div class="mb-3">
        {{
            form_row(form.old_password, {
            label: "Ancien mot de passe",
            attr: {
				placeholder:false,
                class: "form-control",                          
            }
            })
        }}
      </div>
      <div class="mb-3">
        {{
            form_row(form.new_password.first, {
            label: "Nouveau mot de passe",
            attr: {
				placeholder:false,
                class: "form-control",
                                            
            }
            })
        }}
      </div>
      <div class="mb-3">
        {{
            form_row(form.new_password.second, {
            label: "Confirmer le mot de passe",
            attr: {
				placeholder:false,
                class: "form-control",
                                            
            }
            })
        }}
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success btn-form">
          enregister
        </button>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <span class="create-by-link d-flex justify-content-center"
            >Created by
            <a class="__dev" href="https://logonedigital.com/" target="_blank"
              >Logonedigital</a
            >
          </span>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
