{% extends "base_frontoffice_2.html.twig" %} {% block title %} Compte | Scoops
Feraga {% endblock %} {% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ asset('frontoffice/') }}css/style.min.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="{{ asset('frontoffice/') }}css/account_style.css"
  type="text/css"
/>
{% endblock %} {% block body %} {% block bodyclass %} woocommerce-page auth-page
{% endblock %}
<div id="app">
  <!-- start header -->
  {% include('includes/frontoffice/header_account.html.twig')%}
  <main role="main">
    <!-- Common styles ================================================== -->

    <!-- Load lazyLoad scripts ================================================== -->
    <script>
      (function (w, d) {
        var m = d.getElementsByTagName("main")[0],
          s = d.createElement("script"),
          v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
          o = {
            elements_selector: ".lazy",
            data_src: "src",
            data_srcset: "srcset",
            threshold: 500,
            callback_enter: function (element) {},
            callback_load: function (element) {
              element.removeAttribute("data-src");

              oTimeout = setTimeout(function () {
                clearTimeout(oTimeout);

                AOS.refresh();
              }, 1000);
            },
            callback_set: function (element) {},
            callback_error: function (element) {
              element.src =
                "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
            },
          };
        s.type = "text/javascript";
        s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
        s.src =
          "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
          v +
          "/dist/lazyload.min.js";
        m.appendChild(s);
        // m.insertBefore(s, m.firstChild);
        w.lazyLoadOptions = o;
      })(window, document);
    </script>

    <!-- start section -->
    <section class="section">
      <div class="container">
        <div class="row main-part">
          <h2 style="color: #3daa35">
            Espace <span style="color: #333">client</span>
          </h2>

          <!-- start form -->
          <div class="row" style="margin-bottom: 20px">
            <div class="lazy col-12 col-sm-6 col-lg-4">
              <div class="profil-card">
                <h5 class="card-title">votre profil</h5>
                <p class="card-text">
                  Vous retrouvez toutes les informations liées à votre compte.
                </p>
                <a href="{{ path('app_user_password') }}" class="card-btn"
                  >VOIR</a
                >
              </div>
            </div>
            <div class="lazy col-12 col-sm-6 col-lg-4">
              <div class="profil-card">
                <h5 class="card-title">vos adresses</h5>
                <p class="card-text">
                  Vous retrouvez vos adresses.
                </p>
                <a href="{{ path('app_account_address') }}" class="card-btn"
                  >VOIR</a
                >
              </div>
            </div>
            <div class="lazy col-12 col-sm-6 col-lg-4">
              <div class="profil-card">
                <h5 class="card-title">vos commandes</h5>
                <p class="card-text">
                  Vous retrouvez toutes les informations liées à vos commande en
                  cours.
                </p>
                <a href="{{ path('app_account_orders') }}" class="card-btn"
                  >VOIR</a
                >
              </div>
            </div>
          </div>

          <div class="spacer py-6 d-md-none"></div>
        </div>
      </div>
    </section>
    <!-- end section -->
  </main>
  <!-- end main -->

  <!-- start footer -->
  {% include('includes/frontoffice/footer_2.html.twig')%}
  <!-- end footer -->
</div>

<div id="btn-to-top-wrap">
  <a
    id="btn-to-top"
    class="circled"
    href="javascript:void(0);"
    data-visible-offset="800"
  ></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="{{asset('frontoffice/')}}js/jquery-2.2.4.min.js"><\/script>')
</script>
<script
  type="text/javascript"
  src="{{ asset('frontoffice/') }}js/main.min.js"
></script>
{% endblock %}
