{% extends 'base_frontoffice.html.twig' %}
      {% block header %}
          {% include('includes/frontoffice/header.html.twig') %}
      {% endblock header %}
{% block content %}
    <div
            id="hero"
            class="jarallax"
            data-speed="0.7"
            data-img-position="50% 80%"
            style="background-image: url({{ asset('frontoffice/') }}img/mais.jpg)"
    >
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h1 class="__title"><span>Our</span> Blog</h1>

                    <p>
                        The point of using Lorem Ipsum is that it has a more-or-less
                        normal distribution of letters, as opposed to using 'Content
                        here, content here', making it look like readable English
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero -->

    <!-- start main -->
    <main role="main">
        <!-- Common styles
        ================================================== -->
        <link rel="stylesheet" href="{{ asset('frontoffice/') }}css/style.min.css" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('frontoffice/') }}css/likeStyle.css" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('frontoffice/') }}css/threeDotOptionsStyle.css" type="text/css"/>

        <!-- Load  scripts
        ================================================== -->
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.min.js"></script>
        <script>
            (function (w, d) {
                var m = d.getElementsByTagName('main')[0],
                    s = d.createElement("script"),
                    v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
                    o = {
                        elements_selector: ".lazy",
                        data_src: 'src',
                        data_srcset: 'srcset',
                        threshold: 500,
                        callback_enter: function (element) {

                        },
                        callback_load: function (element) {
                            element.removeAttribute('data-src')

                            oTimeout = setTimeout(function () {
                                clearTimeout(oTimeout);

                                AOS.refresh();
                            }, 1000);
                        },
                        callback_set: function (element) {

                        },
                        callback_error: function (element) {
                            element.src = "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
                        }
                    };
                s.type = 'text/javascript';
                s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
                s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
                m.appendChild(s);
                // m.insertBefore(s, m.firstChild);
                w.lazyLoadOptions = o;
            }(window, document));


            function addLike(postId) {
                //on recupere l URL active
                const url = new URL(window.location.href);
                // on lance la requette ajax (ajax =1 )
                fetch(url.pathname + "?" + "postId=" + {{ post[0].id }}+"&ajax=1", {
                        headers: {
                            "X-Requested-With": "XMLHttpRequest"
                        }
                    }
                ).then(response => response.json()
                ).then(data => {
                        // chercher la zonne de continue
                        var content = document.getElementById("totalLike");
                        //remplace le continue
                        content.innerHTML = data.content;
                    }
                ).catch(e => console.log(e));

            }

            // add un listener pour le bouton like pour ajouter une classe css
            document.addEventListener('DOMContentLoaded', function () {
                var likeButton = document.getElementById('like-button');
                likeButton.addEventListener('click', function () {
                    window.lb = likeButton;
                    // ajout d'un classe css
                    likeButton.classList.toggle('selected');
                });
            }, false);
            //lors du chargement du page on verifi si l'utilisateur liker cette post pour ajouter des styles au bouton
            window.onload = (event) => {
                var test = {{ isLiked }}
                if (test === 1) {
                    var likeButton = document.getElementById('like-button');
                    window.lb = likeButton;
                    //ajout du classe css
                    likeButton.classList.toggle('selected');
                }
            }


            function addcommentjs(slug) {
                //recuperer le valeur de message
                var message = document.getElementById("message").value;
                var token = document.getElementById("token").value;
                var gtoken = document.getElementById("grecaptcha_token").value;
                //condition sur l'input
                if (message.trim().length < 10) {
                    //rendre le borderColor red (error)
                    document.getElementById("message").style.borderColor = "red";
                } else {
                    // fetch lur d'ajout avec l'envoi deu message au parametre
                    fetch("/blog_details/addComment/" + slug.toString() + "?message=" + message + "&_token=" + token + "&gtoken=" + gtoken, {
                            headers: {
                                "X-Requested-With": "XMLHttpRequest"
                            }
                        }
                        //convert le response au json
                    ).then(response => response.json()
                    ).then(data => {
                            // chercher la zonne de continue
                            var content = document.getElementById("commment_zone");
                            //remplace le continue par le nouveau list des commentaires
                            content.innerHTML = data.content;
                            // vider l'input & rendre le borderColor black
                            document.getElementById("message").style.borderColor = "black";
                            document.getElementById("message").value = "";
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Votre commentaire a été Ajouté.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            //changer le nombre de comments
                            var countCommentsContent = document.getElementById('totalComments');
                            var total = document.getElementById('commentCount').value;
                            document.getElementById('commentCount').value = parseInt(total) + 1;
                            countCommentsContent.innerText = parseInt(total) + 1 + ' Commentaire,'
                        }
                    ).catch(e => console.log(e));
                }
            }

            function update(id, message) {
                messageCh = message.toString()
                document.getElementById("comment-description" + id).innerHTML = '<textarea id="message' + id + '" style="width:600px; border-radius: 10px ;" >' + message.toString() + '</textarea> <br><button style="height: 30px;margin-top: 5px" class="custom-btn custom-btn--style-1" role="button" onclick="modifierCommentaire(' + id + ')"> Modifier </button><button style="height: 30px;margin-top: 5px;margin-left : 5px  ;color : white ; border-color: red;background-color : red " class="custom-btn custom-btn--style-7" role="button" onclick="cancelUpdate(' + id + ')"> Annuler </button><input type="hidden" id="C_token" name="C_token" value="{{ csrf_token("updateCommentaire") }}"/>';
            }

            function cancelUpdate(id) {
                oldMessage = document.getElementById('oldMessage' + id).value;
                document.getElementById("comment-description" + id).innerHTML = '<p>' + oldMessage.toString() + ' </p>'
            }

            function modifierCommentaire(id) {
                token = document.getElementById('C_token').value;
                textarea = document.getElementById('message' + id);
                var gtoken = document.getElementById("grecaptcha_token").value;
                newMessage = textarea.value;
                //condition sur l'input
                if (newMessage.trim().length < 10) {
                    //rendre le borderColor red (error)
                    textarea.style.borderColor = "red";
                } else {
                    // fetch lur de modification avec l'envoi du message au parametre
                    fetch("/blog_details/updateComment/" + id + "?message=" + newMessage + "&_token=" + token + "&gtoken=" + gtoken, {
                            headers: {
                                "X-Requested-With": "XMLHttpRequest"
                            }
                        }
                        //convert le response au json
                    ).then(response => response.json()
                    ).then(data => {
                            // chercher la zonne de continue
                            var content = document.getElementById("commment_zone");
                            //remplace le continue par le nouveau list des commentaires
                            content.innerHTML = data.content;
                            // vider l'input & rendre le borderColor black
                            // document.getElementById("message").style.borderColor = "black";
                            //  document.getElementById("message").value = "";
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Votre commentaire a été modifié.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    ).catch(e => console.log(e));
                }
            }

            function deleteCommentaire(id) {
                Swal.fire({
                    title: 'étes-vous sur!',
                    text: "Vous ne pourrez pas revenir en arriére!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, Supprime-le!'
                }).then((result) => {
                    //is on confirme la suppression
                    if (result.isConfirmed) {
                        let timerInterval
                        //alert avec timer
                        Swal.fire({
                            title: 'Suppression..',
                            html: 'Le commentaire sera supprimé dans <b></b> milliseconds.',
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            /* si le timer fini on appel la route de suppression*/
                            if (result.dismiss === Swal.DismissReason.timer) {
                                token = document.getElementById('CD_token').value;
                                //condition sur l'input
                                // fetch lur de modification avec l'envoi du message au parametre
                                fetch("/blog_details/deleteComment/" + id + "?" + "_token=" + token, {
                                        headers: {
                                            "X-Requested-With": "XMLHttpRequest"
                                        }
                                    }
                                    //convert le response au json
                                ).then(response => response.json()
                                ).then(data => {
                                        // chercher la zonne de continue
                                        var content = document.getElementById("commment_zone");
                                        //remplace le continue par le nouveau list des commentaires
                                        content.innerHTML = data.content;
                                        //changer le nombre de comments
                                        var countCommentsContent = document.getElementById('totalComments');
                                        var total = document.getElementById('commentCount').value;
                                        document.getElementById('commentCount').value = parseInt(total) - 1;
                                        countCommentsContent.innerText = parseInt(total) - 1 + ' Commentaire,'
                                    }
                                ).catch(e => console.log(e));
                                //alert de succes
                                Swal.fire(
                                    'Succés!',
                                    'Votre commentaire a été supprimé.',
                                    'success'
                                )
                            }
                        });

                    }
                })


            }

            // *** start dropdown menu script
            /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
            function show() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }

        </script>
        <!-- start section -->
        {% for p in post %}
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="content-container">
                            <!-- start posts -->
                            <div class="posts">
                                <!-- start item -->
                                <div class="__item">
                                    <img width="100%"
                                         src="{{ asset('uploads/images/'~asset(p.postimage)) }}"
                                         data-src="{{ asset('uploads/images/'~asset(p.postimage)) }}" alt="demo"/>
                                    <div class="__content">
                                        <div class="mb-6 mb-md-8">

                                            <time class="__date-post">{{ p.getCreatedAt().format('j, M, Y ') }}</time>

                                            <p class="__category">Thématique : <a href="#">{{ p.postcategory.name }}</a>
                                            </p>

                                            <h3 class="__title h3">{{ p.title }}</h3>
                                        </div>
                                        <p>
                                            {{ p.description |raw }}
                                        </p>

                                        <p>
                                        </p>

                                        <p>
                                        </p>
                                    </div>
                                </div>
                                <!-- end item -->
                            </div>
                            <!-- end posts -->
                        </div>

                        <!-- start posts feedback -->

                        <div class="posts-feedback">
                            <button type="button" id="like-button" {% if app.user %}
                                    onclick="addLike({{ post[0].id }})"
                                {% else %}
                                    onclick="location.href = '{{ path('app_sign_in') }}';"
                            {% endif %}">
                            <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/>
                            </svg>
                            J'aime
                            </button><br><br>
                            <input id="commentCount" type="hidden" value="{{ comments|length }}">
                            <b id="totalComments">{{ comments|length }} Commentaire , </b>
                            <span id="totalLike"
                                  style="margin-left:7px ; margin-top: 10px"> {% include("frontoffice/totalLike.html.twig") %}</span>
                            <!-- Post list-->
                            <ul class="comments-list">
                                <div id="commment_zone">
                                    {% include "frontoffice/CommentList.html.twig" %}
                                </div>
                            </ul>
                            <!-- end post list -->
                            <!-- Start share -->
                            <div class="share-btns">
                                <ul>
                                    <li><a class="fb" href="#"><i class="fontello-facebook"></i>facebook</a>

                                    <li>
                                        <iframe name="iframe" id="iframe"
                                                src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F127.0.0.1%3A8000%2Fblog_details%2F{{ id }}&layout=button_count&size=small&width=91&height=20&appId"
                                                width="91" height="20" style="border:none;overflow:hidden"
                                                scrolling="no" frameborder="0" allowfullscreen="true"
                                                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>


                                    </li>
                                    <li><a class="tw" href="#"><i class="fontello-twitter"></i>twitter</a>
                                    </li>
                                    <li><a class="ggl" href="#"><i class="fontello-gplus"></i>google
                                            plus</a></li>
                                    <li><a class="pt" href="#"><i class="fontello-pinterest-circled"></i>pinterest</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Share -->
                            <style>
                                textarea {
                                    width: 80%;
                                    height: 200px;
                                    padding: 12px;
                                    border: 1px solid #ccc;
                                    border-radius: 4px;
                                    box-sizing: border-box;
                                    margin-top: 6px;
                                    margin-bottom: 20px;
                                    resize: vertical;
                                    outline-color: #3daa35;
                                }
                            </style>
                            <h6>Laisser un commentaire.</h6>
                            {% if app.user %}
                                <div class="input-wrp">
                                    <!-- textarea message -->
                                    <textarea style="width: 700px;height: 200px;border-radius: 10px;" id="message"
                                              class="textfield" placeholder="Message.."></textarea>
                                    <!-- CRSF TOKEN INPUT -->
                                    <input type="hidden" id="token" name="token" value="{{ csrf_token('comment') }}"/>
                                    <!-- GRECAPTCHA TOKEN INPUT -->
                                    <input type="hidden" id="grecaptcha_token" name="gtoken"/>
                                </div>
                                <button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit"
                                        onclick="addcommentjs('{{ post[0].slug }}')"
                                        role="button">envoyer
                                </button>
                            {% else %}
                                <button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit"
                                        onclick="location.href = '{{ path('app_sign_in') }}';"
                                        role="button"> Login
                                </button>
                            {% endif %}
                            <script src="https://www.google.com/recaptcha/api.js?render=6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe"></script>
                            <script>
                                grecaptcha.ready(function () {
                                    grecaptcha
                                        .execute("6Lc96AYfAAAAAAJsKTsNdyF4yBBWVnt5rWll8Dbe", {
                                            action: "homepage",
                                        })
                                        .then(function (token) {
                                            document.getElementById("grecaptcha_token").value = token;
                                        });
                                });
                            </script>
                        </div>

                        <!-- end posts feedback -->
                    </div>

                    <div class="col-12 my-6 d-md-none"></div>

                    <div class="col-12 col-md-4 col-lg-3">
                        <aside class="sidebar">
                            <!-- start widget -->
                            <div class="widget widget--text">
                                <h4 class="h6 widget-title">thêmatique : </h4>

                                <p>
                                    {% for c in category %}
                                        {% if p.postcategory.name == c.name %}
                                            {{ c.getCategoryDescription() | raw }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <!-- end widget -->

                            <!-- start widget -->
                            <div class="widget widget--categories">
                                <h4 class="h6 widget-title">Toutes nos thématiqques</h4>

                                <ul class="list">
                                    {% for c in category %}
                                        <li class="list__item">
                                            <a class="list__item__link"
                                               href="{{ path('Blog_filter',{ 'slug':c.slug }) }}">{{ c.name }}</a>
                                            <span>{{ loop.index }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- end widget -->

                            <!-- start widget -->
                            <div class="widget widget--posts">
                                <h4 class="h6 widget-title">Dans la même thématique</h4>

                                <div>
                                    {% for relatedPost in relatedPosts %}
                                        <article>
                                            <a class="link"
                                               href="{{ path('blog_details', { slug: relatedPost.slug }) }}">
                                                <img width="100" height="75"
                                                     src="{{ asset('uploads/images/'~asset(relatedPost.postimage)) }}"
                                                     data-src="{{ asset('uploads/images/'~asset(relatedPost.postimage)) }}"
                                                     alt="demo"/>
                                            </a>

                                            <div>
                                                {{ relatedPost.description |striptags[:50] ~ '...' }}

                                                <span class="date-post">{{ relatedPost.getCreatedAt().format('j, M, Y ') }}</span>
                                            </div>
                                        </article>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- end widget -->

                            <!-- start widget -->
                            <div class="widget widget--banner">
                                <a href="#"><img class="img-fluid  lazy" src="{{ asset('frontoffice/') }}img/blank.gif"
                                                 data-src="{{ asset('frontoffice/') }}img/widget_banner.jpg"
                                                 alt="demo"/></a>
                            </div>
                            <!-- end widget -->
                        </aside>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section section--no-pt">
            <div class="container">
                <ul class="post-nav">
                    <li class="post-nav__item">
                        <a class="post-nav__link post-nav__link--prev" href="#">
									<span class="d-table">
										<span class="d-table-cell align-middle"><i
                                                    class="ico fontello-left-1"></i></span>
										<span class="d-table-cell align-middle">
											Previous reading
											<span class="name">Health Benefits of a Raw Food</span>
										</span>
									</span>
                        </a>
                    </li>

                    <li class="post-nav__item">
                        <a class="post-nav__link post-nav__link--next" href="#">
									<span class="d-table">
										<span class="d-table-cell align-middle">
											next reading
											<span class="name">Tips for Ripening your Fruit</span>
										</span>
										<span class="d-table-cell align-middle"><i
                                                    class="ico fontello-right-1"></i></span>
									</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end section -->
    </main>
    <!-- end main -->


    </div>

    <div id="btn-to-top-wrap">
        <a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
    </div>

    <script src="{{ asset('frontoffice/') }}https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('frontoffice/') }}js/jquery-2.2.4.min.js"><\/script>')</script>

    <script type="text/javascript" src="{{ asset('frontoffice/') }}js/main.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
    {% endfor %}
{% endblock content %}
      {% block footer %}
          {% include('includes/frontoffice/footer.html.twig') %}

      {% endblock footer %}

{% block javascripts %}


<script src="{{ asset('front-office/js/fuse.js') }}"></script>

<script src="{{ asset('front-office/js/emoji_keyboard.js') }}"></script>

<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
        console.log(js);

    }(document, 'script', 'facebook-jssdk'));


    {% endblock %}
