<div class="col-12 col-md-6 col-lg-5 col-xl-4">
								<h2>Reinitialiser   <span>votre Mot de passe</span></h2>

								<!-- start form -->
                                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                {{form_start(form)}}
                                <div class="auth-form">
                                <div class="input-wrp">
									{{
                                        form_row(form.new_password.first, {
                                        label: false,
                                        attr: {
                                            placeholder: "Mot de passe",
                                            class: "textfield form-control",
                                            
                                        }
                                    })
                                    }}
                                </div>
                                <div class="input-wrp">
									{{
                                        form_row(form.new_password.second, {
                                        label: false,
                                        attr: {
                                            placeholder: "Confirmez le mot de passe",
                                            class: "textfield form-control",
                                            
                                        }
                                        })
                                    }}
                                </div>

                                <div class="d-table mt-8">
										<div class="d-table-cell align-middle">
											<button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit" role="button" value="submit">S'inscire</button>
										</div>

										<div class="d-table-cell align-middle">
											<a class="link-to" href="{{path('app_register')}}">Se connecter</a>
										</div>
								</div>
                                </div>
                                {{form_end(form)}}
								<!-- end form -->

								<div class="spacer py-6 d-md-none"></div>

							</div>