{% for c in comments %}

    <li class="comment">
        <table>
            <tr>
                <td>
                    <div class="d-none d-lg-block">

                        <div class="comment__author-img">
                            <img width="70" src="{{ asset('frontoffice/') }}img/avatar1.png"
                                 data-src="{{ asset('frontoffice/') }}img/avatar1.png" alt="demo"/>
                        </div>

                    </div>
                </td>

                <td width="100%">
                    <div class="d-flex align-items-center mb-3 mb-lg-0">
                        <div class="d-block d-lg-none">

                            <div class="comment__author-img">
                                <img  width="70" src="{{ asset('frontoffice/') }}img/avatar1.png"
                                     data-src="{{ asset('frontoffice/') }}img/avatar1.png" alt="demo"/>
                            </div>

                        </div>

                        <span class="comment__author-name">{{ c.user.firstname }} {{ c.user.lastname }}</span>

                    </div>


                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <p>
                        {{ c.message }}
                    </p>
                </td>
            </tr>
        </table>
    </li>
{% endfor %}

