<ul id="comments_list" class="comments-list">
    {% for comment in comments %}
    <li class="comment">
        <table>
            <tr>
                <td>
                    <div class="d-none d-lg-block">

                        <div class="comment__author-img">
                            <img width="70" src="{{ asset('frontoffice/') }}img/avatar1.png"
                                 data-src="{{ asset('frontoffice/') }}img/avatar1.png" alt="demo"/>
                        </div>

                    </div>
                </td>

                <td width="100%">
                    <time class="comment__date-post">{{ comment.createdAt | date }}</time>

                    <div class="d-flex align-items-center mb-3 mb-lg-0">
                        <div class="d-block d-lg-none">

                            <div class="comment__author-img">
                                <img class="img-fluid lazy" width="70" src="{{asset('frontoffice/')}}img/blank.gif" data-src="{{asset('frontoffice/')}}img/avatar.jpg" alt="demo" />
                            </div>

                        </div>

                        <span class="comment__author-name">{{ comment.autor }}</span>

                        <div class="rating  d-none d-sm-block">
                            <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                            <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                            <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                            <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                            <span class="rating__item"><i class="fontello-star"></i></span>
                        </div>
                    </div>

                    <div class="rating  mb-2 d-sm-none">
                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                        <span class="rating__item rating__item--active"><i class="fontello-star"></i></span>
                        <span class="rating__item"><i class="fontello-star"></i></span>
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <p>
                        {{ comment.message }}
                    </p>
                </td>
            </tr>
        </table>
    </li>
    {% endfor %}
</ul>