<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>AGRO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui"
    />

    <meta name="theme-color" content="#FCDB5A" />
    <meta name="msapplication-navbutton-color" content="#FCDB5A" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#FCDB5A" />

    <!-- Favicons
		================================================== -->
    <link rel="shortcut icon" href="{{asset('frontoffice/')}}img/favicon.ico" />
    <link rel="apple-touch-icon" href="{{asset('frontoffice/')}}img/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{asset('frontoffice/')}}img/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{asset('frontoffice/')}}img/apple-touch-icon-114x114.png"
    />

    <!-- Critical styles
		================================================== -->
    <link rel="stylesheet" href="{{asset('frontoffice/')}}css/critical.min.css" type="text/css" />

    <!-- Load google font
		================================================== -->
    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: [
            "Open+Sans:300,400,500,600,700,800",
            "Raleway:100,400,400i,500,500i,700,700i,900",
          ],
        },
      };
      (function () {
        var wf = document.createElement("script");
        wf.src =
          ("https:" == document.location.protocol ? "https" : "http") +
          "://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";
        wf.type = "text/javascript";
        wf.async = "true";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <!-- Load other scripts
		================================================== -->
    <script type="text/javascript">
      var _html = document.documentElement,
        isTouch =
          "ontouchstart" in _html ||
          navigator.msMaxTouchPoints > 0 ||
          navigator.maxTouchPoints;

      _html.className = _html.className.replace("no-js", "js");
      _html.classList.add(isTouch ? "touch" : "no-touch");
    </script>
    <script type="text/javascript" src="{{asset('frontoffice/')}}js/device.min.js"></script>
  </head>

  <body class="woocommerce-page catalog-page">
    <div id="app">
      <!-- start header -->
      <header id="top-bar" class="top-bar top-bar--style-2">
        <div
          class="top-bar__bg"
          style="
            background-color: #fff;
            background-image: url({{asset('frontoffice/')}}img/top_bar_bg-2.png);
            background-repeat: no-repeat;
            background-position: center bottom;
          "
        ></div>

        <div class="container position-relative">
          <div class="row justify-content-between no-gutters">
            <a class="top-bar__logo site-logo" href="index.html">
              <img class="img-fluid" src="{{asset('frontoffice/')}}img/site_logo.png" alt="demo" />
            </a>

            <a
              id="top-bar__navigation-toggler"
              class="top-bar__navigation-toggler top-bar__navigation-toggler--dark"
              href="javascript:void(0);"
              ><span></span
            ></a>

            <div id="top-bar__inner" class="top-bar__inner text-lg-right">
              <div>
                <div
                  class="d-lg-flex flex-lg-column-reverse align-items-lg-end"
                >
                  <nav
                    id="top-bar__navigation"
                    class="top-bar__navigation navigation"
                    role="navigation"
                  >
                    <ul>
                      <li >
                        <a href="{{path('app_home')}}">Accueil</a>
                      </li>
                                            <li>
                        <a href="{{path('app_about')}}">A propos</a>
                      </li>
					  
                      <li>
                        <a href="{{path('app_activities')}}">Vie à la ferme</a>
                      </li>
                        <li class="active"><a href="{{path('app_shop')}}">Boutique</a></li>

                      <ul class="submenu">
                        <li><a href="shop_catalog.html">Categ-1</a></li>
                      </ul>
                    </li>


                      <li>
                        <a href="{{path('app_blog')}}">Nos Actualités</a>
                      </li>

                      <li class="li-profile">
                        <a href="{{ path('app_login') }}"
                          ><i class="fontello-profile"></i
                        ></a>
                      </li>

                      <li class="li-cart">
                        <a href="{{path('app_cart')}}"
                          ><i class="fontello-shopping-bag"></i
                          ><span class="total">{{ app.session.get('cart') | length }}</span></a
                        >
                      </li>

                      <li class="li-btn">
                        <a
                          class="custom-btn custom-btn--small custom-btn--style-2"
                          href="{{path('app_contact')}}"
                          >Contactez-nous</a
                        >
                      </li>
                    </ul>
                  </nav>

                  <div class="top-bar__contacts">
                    <span
                      >523 Sylvan Ave, 5th Floor Mountain View, CA 940 USA</span
                    >
                    <span
                      ><a href="#">+1 (234) 56789</a>,&nbsp;&nbsp;<a href="#"
                        >+1 987 654 3210</a
                      ></span
                    >
                    <span
                      ><a href="mailto:support@agrocompany.com"
                        >support@agrocompany.com</a
                      ></span
                    >

                    <div class="social-btns">
                      <a class="fontello-twitter" href="#"></a>
                      <a class="fontello-facebook" href="#"></a>
                      <a class="fontello-linkedin-squared" href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- end header -->

      <!-- start hero -->
      <div
        id="hero"
        class="jarallax"
        data-speed="0.7"
        data-img-position="50% 80%"
        style="
          background-image: url({{asset('frontoffice/')}}img/intro_img/produits-ferme.jpg);
          color: #333;
        "
      >
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-7">
              <h1 class="__title"><span>SCOOPS FERAGA</span> Catalogue Produits</h1>

              <p>
                The point of using is that it has a more-or-less normal
                distribution of letters, as opposed to using Content here
                content here making it look
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end hero -->

      <!-- start main -->
      <main role="main">
        <!-- Common styles
				================================================== -->
        <link rel="stylesheet" href="{{asset('frontoffice/')}}css/style.min.css" type="text/css" />
         <link rel="stylesheet" href="{{asset('frontoffice/')}}css/style1.css" type="text/css" />

        <!-- Load lazyLoad scripts
				================================================== -->
        <script>
          (function (w, d) {
            var m = d.getElementsByTagName("main")[0],
              s = d.createElement("script"),
              v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
              o = {
                elements_selector: ".lazy",
                data_src: "src",
                data_srcset: "srcset",
                threshold: 500,
                callback_enter: function (element) {},
                callback_load: function (element) {
                  element.removeAttribute("data-src");

                  oTimeout = setTimeout(function () {
                    clearTimeout(oTimeout);

                    AOS.refresh();
                  }, 1000);
                },
                callback_set: function (element) {},
                callback_error: function (element) {
                  element.src =
                    "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
                },
              };
            s.type = "text/javascript";
            s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
            s.src =
              "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
              v +
              "/dist/lazyload.min.js";
            m.appendChild(s);
            // m.insertBefore(s, m.firstChild);
            w.lazyLoadOptions = o;
          })(window, document);
        </script>

        <!-- start section -->
        <section class="section">
          <div
            class="decor-el decor-el--1"
            data-jarallax-element="-70"
            data-speed="0.2"
          >
            <img
              class="lazy"
              width="286"
              height="280"
              src="{{ asset('frontOffice/') }}img/blank.gif"
              data-src="{{ asset('frontOffice/') }}img/decor-el_1.jpg"
              alt="demo"
            />
          </div>

          <div
            class="decor-el decor-el--2"
            data-jarallax-element="-70"
            data-speed="0.2"
          >
            <img
              class="lazy"
              width="99"
              height="88"
              src="{{ asset('frontOffice/') }}img/blank.gif"
              data-src="{{ asset('frontOffice/') }}img/decor-el_2.jpg"
              alt="demo"
            />
          </div>

          <div
            class="decor-el decor-el--3"
            data-jarallax-element="-70"
            data-speed="0.2"
          >
            <img
              class="lazy"
              width="115"
              height="117"
              src="{{ asset('frontOffice/') }}img/blank.gif"
              data-src="{{ asset('frontOffice/') }}img/decor-el_3.jpg"
              alt="demo"
            />
          </div>

          <div
            class="decor-el decor-el--4"
            data-jarallax-element="-70"
            data-speed="0.2"
          >
            <img
              class="lazy"
              width="84"
              height="76"
              src="{{ asset('frontOffice/') }}img/blank.gif"
              data-src="{{ asset('frontOffice/') }}img/decor-el_4.jpg"
              alt="demo"
            />
          </div>

          <div
            class="decor-el decor-el--5"
            data-jarallax-element="-70"
            data-speed="0.2"
          >
            <img
              class="lazy"
              width="248"
              height="309"
              src="{{ asset('frontOffice/') }}img/blank.gif"
              data-src="{{ asset('frontOffice/') }}img/decor-el_5.jpg"
              alt="demo"
            />
          </div>

          <div class="container">
            <!-- start goods catalog -->
            <div class="goods-catalog">
              <div class="row">
                  <div class="col-12 col-md-4 col-lg-3">
                      <aside class="sidebar goods-filter">
                    <span class="goods-filter-btn-close js-toggle-filter"
                    ><i class="fontello-cancel"></i
                        ></span>

                          <div class="goods-filter__inner">
                              <!-- start widget -->
                              <div class="widget widget--search">
                                  <form class="form--horizontal">
                                      <div class="input-wrp">
                                          <input
                                                  class="textfield"
                                                  name="s"
                                                  type="text"
                                                  id="search"
                                                  placeholder="Search"
                                          />
                                      </div>
                                  </form>
                              </div>
                              <!-- end widget -->


                              <!-- start widget -->
                              <div class="widget widget--additional">
                                  <h4 class="h6 widget-title">Catégories</h4>
                                  <form id="filters">
                                  <ul>
                                      {% for categorie in categories %}
                                      <li>
                                          <label class="checkfield">
                                              <input type="checkbox" name="categories[]"
                                              id="cat{{ categorie.id }}"
                                              value="{{ categorie.id }}"/>
                                              <i></i>
                                              {{ categorie.name }}
                                          </label>
                                      </li>
                                      {% endfor %}
                                  </ul>
                                  </form>
                              </div>
                              <!-- end widget -->

                              <!-- start widget -->
                              <div class="widget">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col">
                                          <button
                                                  class="custom-btn custom-btn--medium custom-btn--style-1"
                                                  role="button"
                                          >
                                              Show Products
                                          </button>
                                      </div>

                                      <div class="col-auto">
                                          <a class="clear-filter" href="#">Clear all</a>
                                      </div>
                                  </div>
                              </div>
                              <!-- end widget -->



                          </div>
                      </aside>
                  </div>

                <div class="col-12 col-md-8 col-lg-9">
                  <div class="spacer py-6 d-md-none"></div>

                  <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                      <span class="goods-filter-btn-open js-toggle-filter"
                        ><i class="fontello-filter"></i>Filter</span
                      >
                    </div>

                    <div class="col-auto">
                      <!-- start ordering -->
                      <form class="ordering" action="#">
                        <div class="input-wrp">
                          <select class="textfield wide js-select">
                            <option value="1">Default Sorting</option>
                            <option value="2">Price. low to high</option>
                            <option value="3">Price. high to low</option>
                            <option value="3">Sort by latest</option>
                          </select>
                        </div>
                      </form>
                      <!-- end ordering -->
                    </div>
                  </div>

                  <div class="spacer py-3"></div>

                  <!-- start goods -->
                  <div id="all" class="goods goods--style-1">
                    <div class="__inner">
                      <div class="row">
                        <!-- start item -->
                          {% for product in products %}
                        <div class="col-12 col-sm-6 col-lg-4 prod {{ product.id}}" id="{{ product.id}}">
                          <div class="__item">
                            <figure class="__image">
                              <img
                                class="lazy"
                                width="188"
                                src="{{ asset('uploads/images/'~product.product_image) }}"
                                data-src="{{ asset('uploads/images/'~product.product_image) }} "
                                alt="demo"
                             />
                            </figure>

                                  <div class="__content">
                                    <h4 class="h6 __title">
                                      <a href="{{ path('app_single_product',{'slug':product.slug}) }}">{{ product.product_name }}</a>
                                    </h4>

                              <div class="__category">
                                <a href="#">{{ product.category }} </a>
                              </div>
                              <div class="id_category">
                                <a href="#">{{ product.id}} </a>
                              </div>

                                    <div class="product-price">
                                      <span
                                        class="product-price__item product-price__item--new"
                                        > {{ (product.product_price / 100)  }} FCFA</span
                                      >
                                    </div>

                                    <a
                                      class="custom-btn custom-btn--medium custom-btn--style-1"
                                      href="{{ path('app_add_to_cart',{'slug': product.slug}) }}"
                                      ><i class="fontello-shopping-bag"></i>Ajouter
                                      panier</a
                                    >
                                    <a
                                      style="display: block"
                                      href="{{ path('app_single_product',{'slug':product.slug}) }}"
                                      >voir plus</a
                                    >
                                  </div>

                                  <span class="product-label product-label--sale"
                                    >Sale</span
                                  >
                                </div>
                              </div>
                          {% endfor %}
                       
                        <!-- end item -->
                      </div>
                    </div>
                  </div>
                  <!-- end goods -->
                   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                      <script>
                      
                                  $( document ).ready(function() {
                                      var currentRequest = null;
                                      $("#search").keyup(function(e){
                                          var value = $(this).val();
                                          if(value =='')
                                          {
                                              currentRequest.abort()
                                          }
                                          else if(currentRequest != null) {
                                              currentRequest.abort();
                                          }
                                          
                                          currentRequest = $.ajax({
                                              url : "{{ path('app_shop_search') }}",
                                              type : 'GET',
                                              data: {
                                                  'searchValue' : value
                                              },
                                              success : function(retour)
                                              {
                                                
                                                  $('#all').html(retour);
                                              },
                                          });
                                          console.log(value)
                                          return false;
                                      });
                                  });
                                  console.log(5)
                      </script>
                    <script type="text/javascript" src="{{asset('frontoffice/')}}js/searchCat.js"></script>
                  <div class="spacer py-5"></div>

                  <!-- start pagination -->
                  <nav aria-label="Page navigation example">
                      {{ knp_pagination_render(products,'pagination.html.twig') }}
                  </nav>
                  <!-- end pagination -->
                </div>
              </div>
            </div>
            <!-- end goods catalog -->
          </div>
        </section>
        <!-- end section -->

        <!-- start section -->
        <section class="section section--no-pt section--no-pb section--gutter">
          <div class="container-fluid px-md-0">
            <!-- start banner simple -->
            <div
              class="simple-banner simple-banner--style-2"
              data-aos="fade"
              data-aos-offset="50"
            >
              <div class="d-none d-lg-block">
                <img
                  class="img-logo img-fluid lazy"
                  src="{{ asset('frontOffice/') }}img/blank.gif"
                  data-src="{{ asset('frontOffice/') }}img/site_logo.png"
                  alt="demo"
                />
              </div>

              <div class="row no-gutters">
                <div class="col-12 col-lg-6">
                  <a href="#"
                    ><img
                      class="img-fluid w-100 lazy"
                      src="{{ asset('frontOffice/') }}img/blank.gif"
                      data-src="{{ asset('frontOffice/') }}img/banner_bg_3.jpg"
                      alt="demo"
                  /></a>
                </div>

                <div class="col-12 col-lg-6">
                  <a href="#"
                    ><img
                      class="img-fluid w-100 lazy"
                      src="{{ asset('frontOffice/') }}img/blank.gif"
                      data-src="{{ asset('frontOffice/') }}img/banner_bg_4.jpg"
                      alt="demo"
                  /></a>
                </div>
              </div>
            </div>
            <!-- end banner simple -->
          </div>
        </section>
        <!-- end section -->
      </main>
      <!-- end main -->

<!-- start footer -->
	<footer id="footer" class="footer footer--style-4"> <div class="container">
		<div class="row">
			<div class="col-12 col-sm-4 col-md-3 col-lg-2">
				<div class="footer__item">
					<a class="site-logo" href="{{ path('app_home') }}">
						<img class="img-fluid lazy" src="{{asset('frontoffice/')}}img/blank.gif" data-src="{{asset('frontoffice/')}}img/site_logo.png" alt="demo"/>
					</a>
				</div>
			</div>

			<div class="col-12 col-md-9 col-lg-6">
				<div class="footer__item">
					<nav id="footer__navigation" class="navigation">
						<div class="row">
							<div class="col-6 col-sm-4">
								<h5 class="footer__item__title h6">Menu</h5>

								<ul>
									<li class="active">
										<a href="{{ path('app_home') }}">Home</a>
									</li>
									<li>
										<a href="{{ path('app_about') }}">About</a>
									</li>
									<li>
										<a href="#">Pages</a>
									</li>
									<li>
										<a href="{{ path('app_shop') }}">Gallery</a>
									</li>
									<li>
										<a href="{{ path('app_blog') }}">Blog</a>
									</li>
									<li>
										<a href="{{ path('app_contact') }}">Contacts</a>
									</li>
								</ul>
							</div>

							<div class="col-6 col-sm-4">
								<h5 class="footer__item__title h6">Shop</h5>

								<ul>
									<li><a href="#">Partners</a></li>
									<li><a href="#">Customer Service</a></li>
									<li><a href="#">Vegetables</a></li>
									<li><a href="#">Fruits</a></li>
									<li><a href="#">Organic Food</a></li>
									<li><a href="#">Privacy policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-4">
								<h5 class="footer__item__title h6">Information</h5>

								<ul>
									<li><a href="#">Delivery</a></li>
									<li><a href="#">Legal Notice</a></li>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Secure Payment</a></li>
									<li><a href="#">Prices Drop</a></li>
									<li><a href="#">Documents</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="col-12 col-md col-lg-4">
				<div class="footer__item">
					<h5 class="footer__item__title h6">Contacts</h5>

					<address>
						<p>523 Sylvan Ave, 5th Floor Mountain View, CA 940 USA</p>

						<p>+1 (234) 56789, +1 987 654 3210</p>

						<p>
							<a href="mailto:support@agrocompany.com">support@agrocompany.com</a>
						</p>
					</address>

					<div class="social-btns">
						<a href="#">
							<i class="fontello-twitter"></i>
						</a>
						<a href="#">
							<i class="fontello-facebook"></i>
						</a>
						<a href="#">
							<i class="fontello-linkedin-squared"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row align-items-lg-end justify-content-lg-between copyright">
			<div class="col-12 col-lg-6">
				<div class="footer__item">
					<span class="__copy">© 2019, AgroTheme by
						<a class="__dev" href="https://themeforest.net/user/artureanec" target="_blank">Artureanec</a>
						|
						<a href="#">Privacy Policy</a>
						|
						<a href="#">Sitemap</a>
					</span>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<div class="footer__item">
					<form class="form--horizontal no-gutters" action="#">
						<div class="col-sm-6">
							<div class="input-wrp">
								<input class="textfield" name="s" type="text" placeholder="Your E-mail"/>
							</div>
						</div>

						<div class="col-sm-6">
							<button class="custom-btn custom-btn--medium custom-btn--style-3 wide" type="submit" role="button">
								subscribe
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->
    </div>

    <div id="btn-to-top-wrap">
      <a
        id="btn-to-top"
        class="circled"
        href="javascript:void(0);"
        data-visible-offset="800"
      ></a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write('<script src="{{asset('frontoffice/')}}js/jquery-2.2.4.min.js"><\/script>');
    </script>

    <script type="text/javascript" src="{{asset('frontoffice/')}}js/main.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] ||
          (b[l] = function () {
            (b[l].q = b[l].q || []).push(arguments);
          });
        b[l].l = +new Date();
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = "https://www.google-analytics.com/analytics.js";
        r.parentNode.insertBefore(e, r);
      })(window, document, "script", "ga");
      ga("create", "UA-XXXXX-X", "auto");
      ga("send", "pageview");
    </script>
  </body>
</html>
